{% load static %}
<html lang="pl">
<meta charset="utf-8"/>
<head>
    {#  Links  #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/show_film.css' %}">
    {#  Scripts  #}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
          integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">

    <title>Filmoteka</title>

</head>
<body id="main_body">

<h1>Filmoteka</h1>

</body>
{% block content %}
{% endblock %}
</html>