{% load static %}
<html lang="pl">
<meta charset="utf-8"/>
<head>
    <title>Filmoteka</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
          integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"
            integrity="sha384–7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp"
            crossorigin="anonymous"></script>
</head>
<body id="main_body">

<nav class="navbar navbar-expand-sm bg-custom navbar-custom">
    <ul class="navbar-nav mr-auto">
        {% if user.is_authenticated %}
            <li class="nav-item1">
                <a class="nav-link" href="{% url 'favourites' %}">Ulubione</a>
            </li>
        {% endif %}
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                {% if user.is_authenticated %}
                    {{ user.username }}
                {% else %}
                    Menu
                {% endif %}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                {% if user.is_authenticated %}
                    <a class="dropdown-item" href="{% url 'logout' %}">Wyloguj</a>
                {% else %}
                    <a class="dropdown-item" href="{% url 'login' %}">Logowanie</a>
                    <a class="dropdown-item" href="{% url 'register' %}">Rejestracja</a>
                {% endif %}
            </div>
        </li>
    </ul>
</nav>

{% if messages %}
    {% for message in messages %}
        {% if message.tags == "info" %}
            <div class="alert alert-primary" role="alert" style="width: 650px; margin-top: 1%">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<div class="title" id="home_title">
    <h1>Filmoteka</h1>
</div>

<div class="search" id="home_search">
    <form method="POST" id="urlform" action="">
        {% csrf_token %}
        <input name="search_bar" class="film_url" type="text" placeholder="Wpisz tytuł lub gatunek filmowy..">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>

<table class="tg" id="genre_table">
    <tr>
        <td><a href="{% url 'movies_list' %}?movie_genre=Akcja"> Akcja</a></td>
        <td><a href="{% url 'movies_list' %}?movie_genre=Thriller"> Thriller</a></td>
        <td><a href="{% url 'movies_list' %}?movie_genre=Familijny"> Familijny</a></td>
        <td><a href="{% url 'movies_list' %}?movie_genre=Dramat"> Dramat</a></td>
        <td><a href="{% url 'movies_list' %}?movie_genre=Fantasy"> Fantasy</a></td>
    </tr>
    <tr>
        <td><a href="{% url 'movies_list' %}?movie_genre=Sci-Fi"> Sci-Fi</a></td>
        <td><a href="{% url 'movies_list' %}?movie_genre=Komedia"> Komedia</a></td>
        <td><a href="{% url 'movies_list' %}?movie_genre=Animacja"> Animacja</a></td>
        <td><a href="{% url 'movies_list' %}?movie_genre=Wojenny"> Wojenny</a></td>
        <td><a href="{% url 'movies_list' %}?movie_genre=Kryminał"> Kryminał</a></td>
    </tr>
    <tr>
        <td><a href="{% url 'movies_list' %}?movie_genre=Gangsterski"> Gangsterski</a></td>
        <td><a href="{% url 'movies_list' %}?movie_genre=Surrealistyczny"> Surrealistyczny</a></td>
        <td><a href="{% url 'movies_list' %}?movie_genre=Psychologiczny"> Psychologiczny</a></td>
        <td><a href="{% url 'movies_list' %}?movie_genre=Biograficzny"> Biograficzny</a></td>
        <td><a href="{% url 'movies_list' %}?movie_genre=Przygodowy"> Przygodowy</a></td>
    </tr>
</table>

</body>
</html>